.navbar{
  margin-bottom: 0;
  background: white;

  a{
    font-family: $font-family;
    font-size: 1.2em;
  }

  .navbar-header, .navbar-nav{
    padding: 6px;
  }
  .navbar-form{
    margin: 0;

    .form-group{
      height: 64px;
    }
  }
}

@media (max-width: 1090px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle{
    display: block;
    float: right !important;
  }
  .navbar-header{
    float: none;
    margin-right: 0;
  }
}